*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color:#19c8fa;
}
.main-color{
    color: var(--main-color);
}
.second-color{
    color: #777;
}
.main-bg-color{
    background-color: rgb(15 116 143 / 70%);
}
.second-bg-color{
    background-color: var(--main-color);
}
/* Component */
.heading h2{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 28px;
    font-size: 40px;
    font-weight: 400;
}
.heading h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}
.heading h2::after{
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.heading p {
    width: 40%;
    text-align: center;
    margin: 25px auto 25px auto;
    color: #777;
}
/* Start Landing Section */
.landing{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../Pictures/landing.jpg);
    background-size: cover;
    min-height: 100vh;
}

/* Start Header */
@media(min-width:992px){
    .navbar .navbar-container{
        min-height: 97px;
        margin-left: 11.8em;
        margin-right: 11.8em;
    }
}
@media(max-width:991px){
    .navbar .navbar-container{
        padding: 1.8em 0 !important;
    }
}
@media (min-width:992px){
    .navbar .navbar-container{
        border-bottom: 1px solid #a2a2a2;
    }
}
.navbar .navbar-toggler{
    background-color: transparent !important;
    border: none;
    box-shadow: 0 0 0 0 ;
}
.navbar .three-lines{
    display: inline-block;
    color: white;
    font-size: 33px;
}
.navbar .image{
    width: fit-content;
}
@media(max-width:767px){
    .navbar .image{
        margin-left: 1em;
    }
}
.navbar .image img{
    height: 40px;
}
.all-links.show{
    height: 245px !important;
    background-color: #0d1d21c9;
}
@media (max-width:992px){
    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    .all-links{
        margin-top: 1em;
    }
}
.navbar .nav-item .nav-link:hover{
    color: var(--main-color) !important;
}
.navbar .nav-item .nav-link::before{
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    height: 1px;
    width: 60px;
    background-color: var(--main-color);
    opacity: 0;
}
.navbar .nav-item .nav-link:hover:before{
    opacity: 1;
}
@media(min-width:992px){
    .navbar .icon-search{
        order: 3;
    }
}
@media(min-width:992px){
    .navbar .icon-search{
        width: 3.333333%;
    }
}
.navbar .icon-search::before{
    content: "";
    position: absolute;
    left: 0%;
    width: 1px;
    height: 30px;
    background-color: white;
}
.navbar .icon-search svg{
    cursor: pointer;
}
/* End Header */


@media (min-width:992px){
    .landing .content{
        height: calc(100vh - 97px) !important;
    }
}
@media (max-width:719px){
    .landing .bg-title{
        padding: 5px !important;
    }
}
.landing .content .carousel-item > div{
    padding: 1.5em 2em !important;
}
@media (max-width:767px){
    .landing .content .carousel-item h3,
    .landing .content .carousel-item p{
        width: 81%;
        margin-left: auto;
    }
}
@media(min-width:768px){
    .landing .bg-title{
        width: 50%;
    }
    .landing .content .carousel-item h3,
    .landing .content .carousel-item p{
        width: 74%;
        margin-left: auto;
    }
}
.landing .content .carousel-item h3{
    line-height: 1.7;
    font-size: 31px;
}
.landing .content .carousel-item p{
    line-height: 2;
}
.carousel-control-next, .carousel-control-prev{
    width: 4%;
}
.landing .carousel-indicators button.active{
    background-color: var(--main-color) !important;
    border: none !important;
}
.landing .carousel-indicators{
    position: relative;
    bottom: -40px;
}
.landing .carousel-indicators button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 100% !important;
    background-color: transparent;
    border: 1px solid white;
}
/* End Landing Section */

/* Start Services Section */
.services{
    padding: 6em 0;
}
@media(min-width:1400px){
    .services .container{
        max-width: 1217px;
    }
}
.services .icon{
    padding-right: 25px;
}
/* End Services Section */
/* Start Design Section */
.design{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../Pictures/design-features.jpg);
    background-size: cover;
    height: 85vh;
}
.design .image{
    top: 25%;
}
.design .image img{
    margin-right: 5.8em;
}
.design .design-title{
    padding: 2em;
}
@media(min-width:768px){
    .design .design-title{
        width: 53.3%;
    }
}
.design .design-title h3{
    font-size: 20px;
    font-weight: 400;
    padding: 1em;
}
.design .design-title .description{
    padding: 0.9em;
}
.design .row{
    height: 100%;
}
/* End Design Section *


/* Start Portfolio Section */
.portfolio{
    padding: 6em 0;
}
.portfolio .shuffle ul li{
    cursor: pointer;
}
.portfolio .shuffle ul li.active{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
.portfolio .box img{
    transition: 0.4s ease;
    filter: blur(0);
}
.portfolio .box:hover img{
    transform: rotate(3deg) scale(1.1);
    filter: blur(2px);
}
.portfolio .title {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    width: 100%;
    transition: all 0.4s ease;
}
.portfolio .box:hover .title{
    bottom: 0;
}
/* End Portfolio Section */

/* Start Video Section */
.video .video-description{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video .video-description .see-more{
    cursor: pointer;
}
/* End Video Section */

/* Start about Section */
.about{
    padding: 6em 0;
    height: 85.4vh;
}
.about .about-image{
    position: absolute;
    top: 58%;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
/* End about Section */

/* Start Status Section */
.status{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../Pictures/stats.png);
    background-size: cover;
    min-height: 65.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:1400px){
    .status .container{
        max-width: 1140px;
    }
}
.status .icon{
    width: 50px;
    height: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: black !important;
}
.status h4{
    font-size: 50px !important;
    margin: 25px auto 25px auto;
}
.status > div span:last-child{
    font-size: 14px;
}
/* End Status Section */

/* Start Our Skills */
.our-skills{
    padding: 6em 0;
}
@media (min-width:1400px){
    .our-skills .container{
        max-width: 1140px;
    }
}
@media(min-width:992px){
    .our-skills .col-lg-6{
        width: 45%;
    }
}
@media(max-width:991px){
    .our-skills .testimonals{
        margin-bottom: 2em;
    }
}
.our-skills .row .testimonals > p,
.our-skills .row .skills > p{
    font-size: 14.9px;
    line-height: 1.8;
    margin: 26px 0 62px 0;
}
.our-skills .row .testimonals .row{
    margin-bottom: 25px;
}
.our-skills .row img{
    width: auto;
    height: 100px;
    margin-right: 1.6em;
}
@media (max-width:767px){
    .our-skills .row img{
        margin: 0 auto;
    }
}
@media(min-width:768px){
    .our-skills .testimonals .title{
        width: 63.666667%;
    }
}
.our-skills .testimonals .title p{
    line-height: 1.8;
    font-size: 16.5px;
}
.our-skills .testimonals .title  span{
    font-size: 15px;
    padding: 1px 23px 15px 0;
}
.our-skills .testimonals .icon span{
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.our-skills .testimonals .icon span:nth-child(2){
    background-color: var(--main-color);
}
.our-skills .skills .skills-progress h6{
    margin-bottom: 14px;
}
.our-skills .progress{
    height: 30px !important;
    border-radius: 0;
    margin-bottom: 3.3em;
    background-color: #dedadc;
}
.our-skills .progress-bar{
    background-color: var(--main-color) !important;
    font-weight: bold;
}
.our-skills .progress-bar::before{
    content: attr(data-progress) !important;
    position: absolute !important;
    right: -14px !important;
    top: -40px !important;
    background-color: black !important;
    color: white !important;
    padding: 2px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    width: 40px;
}
.our-skills .progress-bar::after{
    content: "";
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    right: -6px;
    top: -12px;
}
/* End Our Skills */

/* Start Quote Section */
.quote{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../Pictures/quote.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 42vh;
}
@media(min-width:1400px){
    .quote .container{
        max-width: 1174px;
    }
}
.quote .quote-text span a {
    cursor: pointer;
}
/* End Quote Section */

/* Start Pricing Section */
.pricing{
    padding: 6em 0;
}
@media(min-width:1400px){
    .pricing .container{
        max-width: 1140px;
    }
}
@media(min-width:1200px){
    .pricing .row > div{
        width: 23.9%;
    }
}
.pricing .boxes{
    margin-top: 7.9em;
}
.pricing .header{
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 20px 0;
}
.pricing .header h5::before{
    content: "$";
    position: relative;
    font-size: 22px;
    top: -20px;
    left: -10px;
}
.pricing .header h5::after{
    content: "/MO";
    position: relative;
    font-size: 22px;
    right: -8px;
}
.pricing .body{
    border-bottom: 1px solid var(--main-color);
}
.pricing .body span{
    width: 60%;
    margin: 0 auto;
}
.pricing .body span:not(:last-child){
    border-bottom: 1px solid var(--main-color);
}
.pricing .footer button{
    border:  1px solid var(--main-color);
    padding: 10px 15px;
    transition: .4s;
}
.pricing .footer button:hover{
    background-color: var(--main-color);
}
.pricing .contact-us button{
    transition: .4s;
    padding: 10px 15px;
}
.pricing .contact-us button:hover{
    background-color: white;
    color: black !important;
    outline: 1px solid var(--main-color) !important;
}
/* End Pricing Section */

/* Start Subscribe Section */
.subscribe{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../Pictures/subscribe.jpg);
    background-size: cover;
    height: 36.2vh;
    display: flex;
    align-items: center;
}
@media(min-width:1400px){
    .subscribe .container{
        max-width: 1140px;
    }
}
@media(min-width:992px){
    .subscribe .label-mail {
        width: 37.1%;
        margin-right: 1.2em;
    }
    .subscribe .row h6{
        width: 58%;
    }
}
.subscribe .label-mail i{
    color: white;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    font-size: 21px;
}
.subscribe .form-control{
    background-color: transparent;
    border-radius: 0;
    border-top: 1px solid white;
    border-right: none;
    padding: 19px 51px;
}
.subscribe .form-control::placeholder{
    color: white;
}
.subscribe .form-control:focus{
    outline: none !important;
}
.subscribe button[type="submit"]{
    border: none;
    background-color: var(--main-color);
    color: white;
    width: 172px;
    border: 1px solid white;
    border-left: none;
}
/* End Subscribe Section */

/* Start Contact Us Section */
.contact-us{
    padding: 6em 0;
}
@media(min-width:1400px){
    .contact-us .container{
        max-width: 1140px;
    }
}
.contact-us .row{
    margin-top: 7.8em;
}
@media(max-width:767px){
    .contact-us form{
        order: 2;
    }
}
@media(min-width:992px){
    .contact-us form{
        width: 70%;
    }
}
.contact-us form input,
.contact-us form textarea{
    width: 100%;
    outline: none;
    border: 1px solid #777;
    padding: 17px 19px;
}
.contact-us form input[type="email"]{
    margin: 29px 0;
}
.contact-us form textarea{
    resize: none;
    height: 202px;
}
.contact-us form button[type="button"]{
    margin-top: 26px;
    background-color: var(--main-color);
    padding: 10px 15px;
    transition: .2s;
}
.contact-us form button[type="button"]:hover{
    background-color: white;
    color: black !important;
    outline: 1px solid var(--main-color) !important;
}
@media(min-width:768px){
    .contact-us .text{
        width: fit-content;
        margin-left: 9px;
    }
}
.contact-us .text .where-we-are{
    margin-top: 4.2em;
}
.contact-us .text address{
    line-height: 2;
}
/* End Contact Us Section */



/* Start Footer */
footer{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../Pictures/subscribe.jpg);
    background-size: cover;
    /* height: 58vh; */
}
footer .logo{
    margin: 1.4em 0 4.6em 0
}
footer .row h4{
    width: 208px;
    padding-bottom: 29px;
    font-size: 25px;
}
footer .social{
    margin: 45px 0 67px 0;
}
/* End Footer */